   @font-face {
	font-family: 'Arial';
	src: url('../images/Arial.ttf');
	src: url('../images/Arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*{
  margin:0%;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-style: normal;
  font-family: 'Arial'; 
}
.img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.div:hover{
  cursor:pointer;
  background-color:aquamarine
}
.button1:hover{
  cursor:pointer;
  transform: scale(1.2);
}
.button2:hover{
  cursor:pointer;
  transform: scale(1.2);
}
.buttonM{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
}
.buttonMain{
  background-color: rgb(136, 75, 75);
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
  transform: scale(1.2);
}
.buttonMain:hover{
  background-color: rgb(243, 153, 43);
}
.modal{
  z-index: 1; 
  padding-top: 100px; 
  left: 220px;
  top: 0;
  width: 600px;
  height: 600px; 
  
}
.modal-content{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 80%;
  border: 3px solid aquamarine;
  border-radius: 50px;
}
.close {
  color:rgb(12, 145, 155);
  float:inherit;
  padding-left:30px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(25, 175, 221);
  text-decoration: none;
  cursor: pointer;
}

.modalHeader {
  text-align: center;
  font-weight:bold;
  padding:5px;
  font-size: 20px;
  color:rgb(13, 139, 139);
}

.modalBody {
  padding: 2px 16px;
  font-style: italic;
}
.order-section{
  display:flex;
  padding-top:170px;
  align-items: center;
  flex-direction: column;
  flex:1 1 auto;
  float: right;
  padding-right: 50px;
  position:-webkit-sticky;
  position:sticky;
 
}
.order{
  padding: 20px;
  border: 3px solid #008b8b;
  border-radius: 20px;
}
.item{
  margin:10px;
}
.sum{
  margin:10px;
}
.orderbtn{
  color:#000;
  text-decoration: none;;
  font-size: 20px;
  margin: 20px;
  border: 3px solid #008b8b;
  background-color:aquamarine;
  border-radius: 25px;
  padding: 5px;
}
.orderbtn:hover{
  cursor: pointer;
  background-color: aqua;
}
